// Set your brand colors
$icy-blue: #007BFF;
$cool-white: #F0F8FF;
$navy-blue: #004080;
$light-grey: #D3D3D3;
$hsl-primary: hsl(211, 100%, 50%);

// Path to Bulma's sass folder
@use "bulma/sass";

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf');
  font-style: normal;
}

:root {
  background-color: $cool-white;
}

.navbar-item {
  color: $icy-blue;
  font-family: 'Raleway';
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar-brand > .navbar-item {
  font-weight: bold;
} 

.navbar {
  background-color: $cool-white;
}

.navbar-burger {
  color: $icy-blue;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, 
.navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover {
  background-color: hsla(var(--bulma-burger-h), var(--bulma-burger-s), var(--bulma-burger-l), 0.1);
}

.hero1 {
  font-size: 5rem;
  color: $icy-blue;
  font-weight: bold;
  font-family: 'Raleway';
  line-height: 1.1;
}

.hero2 {
  font-size: 4rem;
  color: $icy-blue;
  font-weight: bold;
  font-family: 'Raleway';
  line-height: 1.1;
}

.roboto {
  font-family: 'Roboto';
  font-size: 1.2em;
  color: $icy-blue;
}

.hero1-button {
  font-family: 'Roboto';
  font-size: 1.2em;
  color: $cool-white;
  background-color: $icy-blue;
}

.hero1-button:hover, .hero1-button.is-hovered {
  background-color: $navy-blue;
}

.rounded-custom {
  border-radius: 1vmin;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.grid {
  row-gap: 8rem;
  column-gap: 2rem;
}

.hero-is-custom {
  font-size: 4rem;
  color: $cool-white;
  font-weight: bold;
  font-family: 'Raleway';
  line-height: 1.1;
  width: 100%;
  border-radius: 3vmin;
}

.gradient {
  background-image: linear-gradient(to right, $navy-blue, $icy-blue);
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: 'Roboto';
  font-size: 1.2rem;
  margin-top: 2rem;
}

.cta-buttons > button {
  color: $icy-blue;
}

.cta_banner {
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: transparent;
  }

  a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, 
  .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover {
    background-color: hsla(var(--bulma-burger-h), var(--bulma-burger-s), var(--bulma-burger-l), 0.1);
  }
}

