@import 'bulma/css/bulma.css';

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway-VariableFont_wght.ttf');
  font-weight: bold;
  font-style: normal;
}


:root {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar > .navbar-item {
  font-family: 'Raleway';
  font-size: 1.5em;
  color: #007BFF;
}